<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>findAll.html</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>
<body>
<h2>findAll.html</h2>
<table>
    <thead>
        <tr>
            <th>번호</th>
            <th>이메일</th>
            <th>비밀번호</th>
            <th>이름</th>
            <th>조회</th>
            <th>조회(ajax)</th>
            <th>수정</th>
            <th>삭제(get)</th>
            <th>삭제(delete)</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="member: ${mList}">
            <td th:text="${member.memberId}">번호</td>
            <td th:text="${member.memberEmail}">이메일</td>
            <td th:text="${member.memberPassword}">비밀번호</td>
            <td th:text="${member.memberName}">이름</td>
            <td>
                <a th:href="@{|/member/${member.memberId}|}">조회</a> <!-- 타임리프 사용 -->
<!--           기존 href="/member/detail?memberId=${member.memberId} -->
            </td>
            <td>
                <!-- 함수 호출 방식 이용 -->
                <button th:onclick="detail([[${member.memberId}]])">조회(ajax)</button>
                <!--                메서드  넘길데이터 보내는 명령어 ([[]]) -->
            </td>
            <td>
                <a th:href="@{|/member/${member.memberId}|}">수정</a>
<!--                <a href="/member/update?memberId=${member.memberId}">수정</a>-->
            </td>
            <td>
                <a th:href="@{|/member/delete/${member.memberId}|}">삭제(get)</a>
            </td>
            <td>
<!--            삭제 버튼 클릭시 delete 함수 호출.
                함수 호출하면서 memberId 넘겨야 함
                delete 함수() : /member/memberId 형태로 주소를 요청하며, 요청 메서드는 delete-->
                <button th:onclick="deleteById([[${member.memberId}]])">삭제(delete)</button>
            </td>
        </tr>
    </tbody>
</table>
<div id="detail-view">

</div>
</body>
<script>
    function deleteById(memberId) {
        console.log(memberId);
        const reqUrl = "/member/" + memberId;
        $.ajax({
           type: 'delete',
           url: reqUrl,
//           dataType: 'json', -> 받아올 데이터가 있울 때만 사용함.
           success: function() { // 상태코드가 ok로 날라오면 바로 success가 호출됨...
               // 삭제 성공하면 회원 목록 페이지 다시 요청하도록 구성
               location.href = '/member/'; // 회원 목록 페이지 요청은 다음과 같이 구성하였음. (주소를) 실제 요청 은 member/findAll 임)
           },
            error: function() {
               alert('삭제 실패');
            }
        });
    }

    function detail(memberId) {
        console.log(memberId);
        const reqUrl = "/member/" + memberId; // 요청 주소
        $.ajax ({
           type: 'post',
           url: reqUrl,
           dataType: 'json',
           success: function(result) {
                console.log(result);
                const detail_view = document.getElementById('detail-view');
                // let output = "<table>\n" +
                //     "    <thead>\n" +
                //     "        <tr>\n" +
                //     "            <th>번호</th>\n" +
                //     "            <th>이메일</th>\n" +
                //     "            <th>비밀번호</th>\n" +
                //     "            <th>이름</th>\n" +
                //     "        </tr>\n" +
                //     "    </thead>\n" +
                //     "    <tbody>\n" +
                //     "        <tr>\n" +
                //     "            <td th:text=\"${member.memberId}\"></td>\n" +
                //     "            <td th:text=\"${member.memberEmail}\"></td>\n" +
                //     "            <td th:text=\"${member.memberPassword}\"></td>\n" +
                //     "            <td th:text=\"${member.memberName}\"></td>\n" +
                //     "        </tr>\n" +
                //     "    </tbody>\n" +
                //     "</table>";
               // or
               let output = "";
               output += "<table>\n" +
                   "    <thead>\n" +
                   "        <tr>\n" +
                   "            <th>번호</th>\n" +
                   "            <th>이메일</th>\n" +
                   "            <th>비밀번호</th>\n" +
                   "            <th>이름</th>\n" +
                   "        </tr>\n" +
                   "    </thead>\n" +
                   "    <tbody>\n" +
                   "        <tr>\n" +
                   "            <td>"+ result.memberId + "</td>\n" +
                   "            <td>"+ result.memberEmail + "</td>\n" +
                   "            <td>" + result.memberPassword + "</td>\n" +
                   "            <td>" + result.memberName + "</td>\n" +
                   "        </tr>\n" +
                   "    </tbody>\n" +
                   "</table>";

               detail_view.innerHTML = output;
           },
            error: function() {
               alert('문제 발생');
            }
        });
    }
    // 함수이름 : deletefn, 매개변수 : memberId 라는 의미.
    const deleteFn = (memberId) => {
        console.log(memberId);
    }
    /*
        memberId deleteFn {
            랑 같은 의미.
        }
     */

    // 함수이름 : deleteFn2
    const deleteFn2 = () => {
        console.log();
    }

</script>
</html>