<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BoardProject</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <style>

    </style>
</head>
<body>
<p th:text="${session['nickName']}"></p>
<a href="/member/logout">로그아웃</a>
<a th:href="@{|/member/${member.memberId}|}">정보 확인</a>
<section>
    <form action="/board/update" method="post" enctype="multipart/form-data" th:object="${board}">
        회원번호 : <input type="text" th:field="*{memberId}" th:value="${board.memberId}" readonly>
        게시글 번호 : <input type="text" th:field="*{boardId}" th:value="${board.boardId}" readonly>
        작성자 : <input type="text" th:field="*{boardWriter}" th:value="${board.boardWriter}" readonly>
        비밀번호 확인 : <input type="password" id="pwCheck">
        글 제목 : <input type="text" th:field="*{boardTitle}" th:value="${board.boardTitle}">
        글 내용 : <textarea th:field="*{boardContents}" th:value="${board.boardContents}"></textarea>
        <input type="button" onclick="update()" value="수정"><button onclick="bToMain()">돌아가기</button>
    </form>

</section>

</body>
<script>
    function bToMain() {
        location.href="/board/"
    }

    function update() {
        const pw = '[[${board.boardPassword}]]'; // 가지고 온 데이터가 이게 맞나?
        const pwCheck = document.getElementById('pwCheck').value;

        if (pw == pwCheck) {
            updateForm.submit;
        } else {
            location.href="/board/update"; // 이렇게 하면 데이터가 제대로 불러오나?
        }

    }
</script>

</html>