<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>
<body>
<tabe>
    <thead>
    <tr>
        <th>번호</th>
        <th>작성자</th>
        <th>제목</th>
        <th>날짜</th>
        <th>내용</th>
        <th>수정</th>
        <th>삭제</th>
    </tr>
    </thead> <br>
    <tbody>
    <tr> <!-- 빨간 줄은 현재 데이터를 이곳에 보내주지 않기 때문 . -->
        <td th:text="${board.boardId}">번호</td>
        <td th:text="${board.boardWriter}">작성자</td>
        <!--            <td th:href="@{|/board/${board.boardId}|}" th:text="${board.boardTitle}"></td>-->
        <td th:text="${board.boardTitle}">제목</td>
        <!--            <td th:text="${board.boardTitle}">제목</td>-->
        <td th:text="${board.boardDate}">날짜</td>
        <td th:text="${board.boardContents}">내용</td>
        <a th:href="@{|/board/update/${board.boardId}|}">수정</a>
    </tr>
    </tbody>
</tabe>
<a th:href="@{|/board/update/${board.boardId|}">수정</a>
<button>삭제</button> <!-- 관련은 findAll 또는 다른데를 확인해 볼 것 -->

<div id="comment-write">
    <input type="text" id="commentWriter" placeholder="작성자"> <br>
    <input type="text" id="commentContents" placeholder="내용"> <br>
    <button id="comment-write-btn">댓글 등록</button>
</div>

<div id="commnet-area">
    <table>
        <thead>
            <tr>
                <th>댓글번호</th>
                <th>작성자</th>
                <th>내용</th>
                <th>작성시간</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
<script>
    // 버튼이 클릭되면 기능이 실행되개 하는 것 (No function)
    $("#comment-write-btn").click(function(){
        console.log('댓글등록버튼 호출됨');
        const commentWriter = document.getElementById('commentWriter').value;
        const commentContents = $("#commentContents").val();
        const boardId = '[[${board.boardId}]]';

        $.ajax({
            type: 'post',
            url: '/comment/save',
            data: {
                'commentWriter': commentWriter,
                'commentContents': commentContents,
                'boardid': boardId
            },
            dataType: 'json',
            success: function(result) {
                console.log(result);
            },
            error: function() {
                alert('실패');
            }
        })
    });
</script>
</html>