<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>By T Sol</h2>
<form action="/board/update" method="post" name="updateForm" th:object="${b}"> <!-- object 방식 다시 확인해보기 -->
    번호 : <input type="text" th:field="*{boardId}" th:value="${board.boardId}" readonly>
    작성자 : <input type="text" th:field="*{boardWriter}" th:value="${board.boardWriter}" readonly>
    제목 : <input type="text" th:field="*{boardTitle}" th:value="${board.boardTitle}">
    내용 : <textarea th:field="*{boardContents}" th:value="${board.boardContents}"></textarea>
    작성일 : <input type="text" th:value="${board.boardDate}">

    비밀번호 확인 : <input type="password" th:field="*{boardPassword}" th:value="${board.boardPassword}">
    <input type="submit" value="수정">
    <input type="button" value="수정(put)" th:onclick="boardUpdate()"> <!-- form 안에서는 <button>을 쓰게 되면 전송의 역활을 하게 됨.-->
</form>
</body>
<script>
    // function boardUpdate() {
    //     $.ajax({
    //
    //     });
    // }
    const boardUpdate = () => {
        const id = document.querySelector('#boardId').value; // #는 . 이냐 #나의 차이.
        const writer = document.getElementById('boardWriter').value;
        const iPassword = $('#boardPassword').val();
        const bPassword = '[[${board.boardPassword}]]';
        const title = document.getElementById('boardTitle').value;
        const contents = document.getElementById('boardCOntents').value;

        const updateData = JSON.stringify({
           boardId: id,
            boardWriter: writer,
            boardPassword: bPassword,
            boardTitle: title,
            boardContents: contents
        }); // 제이슨 방식으로 데이터를 보낵 위해 나열 하는 것.

        const reqUrl = "/board/" + id;
        if (bPassword == iPassword) {
            $.ajax({
               type: 'put',
               url: reqUrl,
               contentType: 'application/json', // stringify? 때문에 사용하나?
                data: updateData,
                success: function() {
                   location.href="/board/" + id; // 자동 리 다이렉트가 걸림
                },
                error: function() {
                    alert('ajax 실패');
                }
            });
        } else {
            alert('비밀번호 안맞음');
        }
    }

    const update = () => {
        const inputPassword = document.getElementById('boardPassword').value;
        const boardPassword = '[[${board.boardPassword}]]'; //DB에 있는 값.

        if (inputPassword == boardPassword) {
            updateForm.submit();
        } else {
            alert('비밀번호 다름');
        }
    }
</script>
</html>